* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

form {
    width: 50%;
    margin: 3rem 25%;
}

.form-control {
    border-radius: 40px;
}

.invalid {
    width: 50%;
    height: 2rem;
    margin: 0 25%;
    text-align: center;
    color: red;
}